* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Exocet;
    src: url("../font/exocet.ttf");
}

body {
    font-family: Exocet !important;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}

li {
    border: 1px solid #000;
    vertical-align: top;
    display: inline-block;
    list-style-type: none;
    height: 380px;
    width: 280px;
    padding: 4px;
    margin: 4px;
}

input {
    display: block;
    margin: 0 auto;
    width: 60%;
}