<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rune Combiner</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
    <div id="app">
        <div class="entry">
            <input v-model="search" placeholder="Search runes or runewords by name" class="rune-search">
            <input v-model="filterune" placeholder="Search runewords by runes name separated by an space" class="rune-search">
            <div class="filters">
                <input type="radio" id="runes" value="Runes" v-model="picked" v-on:click="displayRunes">
                <label for="runes">Runes</label>
                <input type="radio" id="runewords" value="Runewords" v-model="picked" v-on:click="displayRunewords">
                <label for="runewords">Runewords</label>
                <input type="radio" id="all" value="all" v-model="picked" v-on:click="displayAll">
                <label for="all">All</label>
            </div>
        </div>
        <ul>
            <li v-for="runeword in runewords | filterBy search in 'name' | filterBy filterune in 'combinationOrder'" class="rune-box" v-bind:class="{ hidden: dRunes, show: dAll }">
                <p class="rune-sub">Runeword</p>
                <p><b class="rune-name ">{{ runeword.name }}</b></p>
                <div v-html="runeword.image" class="rune-combination-box"></div>
                <p>{{ runeword.combinationOrder }}</p>
                <p>{{ runeword.requiredLevel }}</p>
                <p>{{ runeword.requiredItems }}</p>
                <div class="rune-prop-box runeword-prop-box">
                    <ul class="rune-prop">
                        <li v-for="properties in runeword ">{{runeword.properties[$index]}}</li>
                    </ul>
                </div>
            </li>
            <li v-for="rune in runes | filterBy search in 'name'" class="rune-box" v-bind:class="{ hidden: dRunewords, show: dAll }">
                <p>
                    <div class="rune-img">
                        <!--<img v-bind:src="rune.image" class="rune-inside svg">-->
                        <div v-html="rune.image" class="rune-inside"></div>
                    </div>
                </p>
                <p class="rune-sub">Rune</p>
                <p><b class="rune-name ">{{ rune.name }}</b></p>
                <div class="rune-prop-box ">
                    <h3>Weapon</h3>
                    <p class="rune-prop">{{ rune.properties.weapon }}</p>
                    <h3>Armor / Helm</h3>
                    <p class="rune-prop">{{ rune.properties.armorHelm }}</p>
                    <h3>Shield</h3>
                    <p class="rune-prop">{{ rune.properties.shield }}</p>
                    <h3>Required Level</h3>
                    <p class="rune-prop">{{ rune.requiredLevel }}</p>
                </div>
            </li>
        </ul>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/script.min.js"></script>
</body>

</html>