<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rune Combiner</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="app">
        <input v-model="search" placeholder="Runa">
        <ul>
            <li v-for="rune in runes | filterBy search in 'name'">
                <p><img src="{{rune.image}}" alt="" class="img"></p>
                <p class="subtitle">Rune</p>
                <p><b class="name">{{ rune.name }}</b></p>
                <div class="properties-container">
                    <h3>Weapon</h3>
                    <p class="prop">{{ rune.properties.weapon }}</p>
                    <h3>Armor / Helm</h3>
                    <p class="prop">{{ rune.properties.armorHelm }}</p>
                    <h3>Shield</h3>
                    <p class="prop">{{ rune.properties.shield }}</p>
                    <h3>Required Level</h3>
                    <p class="prop">{{ rune.requiredLevel }}</p>
                </div>
            </li>
        </ul>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>